{% extends 'base.html.twig' %} {% block title %}Product index{% endblock %} {%
block body %}

<div class="row">
  <div class="col-8">
    <h5>Product list |</h5>

    {% if is_granted('ROLE_ADMIN') %}
    <button type="button" class="btn btn-primary">
      <a href="{{ path('app_product_new') }}" style="color: bisque"
        >Create new</a
      >
    </button>
    {% endif %}
  </div>
  <div class="col-4">
    Logged in as: <strong>{{ app.user.userIdentifier }}</strong> |
    <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>
  </div>
</div>

<table class="table" id="product">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Cover</th>
      <th>Stock</th>
      <th>Created by</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description | slice(0, 50) ~ '...' }}</td>
      <td>{{ product.price }}</td>
      <td>
        {% if product.cover %}
        <img
          src="{{ asset('uploads/' ~ product.cover) }}"
          alt="{{ product.name }}"
          width="50"
          height="50"
          class="product-cover"
        />
        {% else %}
        <p>No cover image.</p>
        {% endif %}
      </td>
      <td>{{ product.stock }}</td>
      <td>{{ product.createdBy ? product.createdBy.username : " - " }}</td>
      <td>
        <div style="display: flex; gap: 10px; align-items: center">
          <a
            href="{{ path('app_product_show', { id: product.id }) }}"
            class="btn btn-info"
            >Show</a
          >

          {% if is_granted('ROLE_ADMIN') %} {% if product.createdBy.username ==
          app.user.username %}

          <a
            href="{{ path('app_product_edit', { id: product.id }) }}"
            class="btn btn-primary"
            >Edit</a
          >
          {{ include("product/_delete_form.html.twig") }}
          {% else %}
          <button type="button" class="btn btn-outline-primary" disabled>
            Edit
          </button>
          <button type="button" class="btn btn-outline-secondary" disabled>
            Delete
          </button>
          {% endif %} {% endif %}
        </div>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8">No records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
